<header>
  <div class="flex w-full space-x-2 justify-end items-center bg-gradient-to-r from-fuchsia-900 to-purple-800 py-8">
    <div class="container mx-auto">
      <div class="w-full flex justify-between items-center">
        <nav class="main-navigation flex items-center space-x-4">
          <%= link_to "Dashboard", root_path %>
          <%= link_to "Batches", admin_batches_path %>
          <%= link_to "Users", admin_users_path %>
        </nav>

        <div class="flex items-center space-x-4">
          <%= image_tag current_user.image_url, class: "rounded-full h-8 w-8 ring-2 ring-white opacity-90", title: current_user.nickname %>
          <%= button_to destroy_user_session_path, class: "flex text-fuchsia-300 text-xs flex flex-col items-center opacity-30 hover:opacity-100 transition", title: "Sign out", method: :delete, "data-turbo": false do %>
            <div class="h-8 w-8">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1" />
              </svg>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</header>
