= render PageComponent.new do |c|
  - c.heading(@batch.decorate.display_name_for_heading, :hashtag)
  - c.actions do
    = link_to edit_admin_batch_path(@batch), class: "gray-button" do
      .h-6.w-6
        = heroicon :pencil
      Edit

  - c.body do
    .flex.flex-col.space-y-16.w-full
      .w-full.grid.grid-cols-3.border.rounded-lg.p-8.bg-white
        .flex
          %dl.flex.flex-col.gap-y-1
            %dt.text-lg.font-bold Owner
            %dt.text-2xl.flex.space-x-2.items-center.gap-x-2
              = render Users::NameWithAvatarComponent.new(user: @batch.owner)

        .flex
          %dl.flex.flex-col.gap-y-1
            %dt.text-lg.font-bold Location
            %dt.text-2xl.flex.space-x-2.items-center.gap-x-2
              = @batch.location

        .flex
          %dl.flex.flex-col.gap-y-1
            %dt.text-lg.font-bold Members
            %dt.text-2xl.flex.space-x-2.items-center.gap-x-2
              = @batch.members.count

      .flex.flex-col.w-full.space-y-4
        .flex.justify-between.items-center
          %h2.text-lg.uppercase.cool-text-gradient.font-bold.opacity-90.tracking-wide Members

          .flex
            = render Batches::AddMemberButtonComponent.new(batch: @batch)

        .w-full
          = turbo_frame_tag :batches_add_member_form_component

        .w-full
          = turbo_frame_tag :batches_members_table_component do
            = render Batches::MembersTableComponent.new(batch: @batch)
