= turbo_frame_tag to_dom_id do
  .w-full.grid.grid-cols-3.border.rounded-lg.p-8.bg-white
    .flex
      = render InfoFactComponent.new do |c|
        - c.term { "Nickname" }
        - c.description { render Users::NameWithAvatarComponent.new(user: @user) }

    .flex
      = render InfoFactComponent.new do |c|
        - c.term { "Batches" }
        - c.with_description.with_content(@user.decorate.display_batches_count)

    .flex
      = render InfoFactComponent.new do |c|
        - c.term { "Privilege" }
        - c.with_description do
          - if policy(@user).update_privilege?
            = form_with(model: @user, url: user_privileges_path(@user)) do |f|
              = f.select :privilege, UserDecorator.privilege_options, {}, class: "select", onchange: "this.form.requestSubmit();"

          - else
            = @user.decorate.display_privilege
