%data{ "data-controller": "appearable", "data-appearable-name-value": "batches-addUserForm" }
  .min-w-full.overflow-hidden.shadow.ring-1.ring-black.ring-opacity-5.rounded-xl.bg-white.p-8
    .flex.flex-col.gap-y-8
      = form_with(url: url_for, method: :get) do |f|
        .flex.flex-col.space-y-8
          .w-full
            = f.label :users_search_query, "Search users", class: "label sr-only"
            .flex.rounded-lg.shadow-sm
              .relative.flex.items-stretch.flex-grow.focus-within:z-10
                = f.text_field :users_search_query, required: true, placeholder: "Search users", class: "focus:ring-purple-500 focus:border-purple-500 block w-full rounded-none rounded-l-lg border-gray-300 text-xl px-4 py-2", value: users_search_query

              = f.button type: :submit, class: "-ml-px relative inline-flex items-center space-x-2 px-8 py-2 border border-gray-300 text-xl rounded-r-lg cool-bg-gradient text-white opacity-80 hover:opacity-100 transition focus:outline-none focus:ring-1 focus:ring-purple-500 focus:border-purple-500" do
                .h-6.w-6
                  = heroicon :search
                %span Search

      - if user_searched?
        .flex.flex-col
          .label Search results
          - if found_users.any?
            %ul.border.border-gray-200.rounded-lg.divide-y.divide-gray-200
              - found_users.each do |user|
                = form_with(url: admin_batch_memberships_path(@batch)) do |f|
                  %li.p-4.flex.items-center.justify-between
                    = render Users::NameWithAvatarComponent.new(user:)
                    = f.hidden_field :user_id, value: user.id
                    = f.button type: :submit, class: "border border-gray-200 rounded-lg py-2 px-6 bg-white hover:bg-green-600 hover:text-white transition cursor-pointer flex items-center gap-x-1", "data-turbo-frame": "_top" do
                      .h-4.w-4
                        = heroicon :plus
                      Add
          - else
            No search result
