<!DOCTYPE html>
<html>
  <head>
    <title>le wagon games</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="min-h-screen bg-gray-100 flex flex-col">
    <%= render HeaderComponent.new %>
    <%= render MainComponent.new do |c| %>
      <%= c.with_body do %>
        <%= yield %>
      <% end %>
    <% end %>
  </body>
</html>
